* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

.taille {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.background {
  flex: 1;
  background: url("../imagesSite/iut2.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 500px;
  background: white;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transform: none; 
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #5c6bf2;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn.secondary {
  background-color: #7a8cf5;
}


footer {
  background-color: #1e2a63;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto; 
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-middle {
  text-align: center;
}

.footer-middle p {
  margin: 5px 0;
  color: white;
  font-size: 14px;
}

.footer-logo {
  width: 50px; 
  height: auto;
  margin-top: 10px;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d3d3d3; 
}
