.important {
    font-size: 20px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.description .text {
    flex: 1;
    padding-right: 100px;
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}

.description .img-panneau {
    flex: 1;
    display: flex;
    justify-content: center;
}

.description .img-panneau img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}