body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff; 
  }



/* Partie Barre de Navigation*/

.nav-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: auto;
    padding: 20px 45px;
    background-color: #1e2a63;
    margin: 0;
    list-style: none;
    z-index: 20;
}

.nav-menu .left {
    margin-right: 22vw; /* pousse cet élément vers la gauche */
}

.nav-menu .right {
    margin-left: 22vw; /* pousse cet élément vers la droite */
}

.nav-menu li {
    margin: 0 1vw;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu img {
    position: absolute;
    height: 110%;
    width: auto;
    top: 2px;
    left: 8vw;
}


/* Partie Reservation de Materiels et L'image de l'iut derrière*/

  .Texte {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(255, 255, 255)
  }
  
  .Texte h1 {
    font-size: 150px;
    border: none;
    padding: 20px 20px;
    display: inline-block;
    text-transform: uppercase;
  }

  #ImageTaille {
    width: 100%;
    height: 100%;
  }
  
  .destination-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
  }
  
  .destination-description .text {
    flex: 1;
    padding-right: 100px;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
  }
  
  .destination-description .image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .destination-description .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  


/* Partie Footer */

footer {
  background-color: #1e2a63; 
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-middle {
  text-align: center;
}

.footer-middle p {
  margin: 5px 0;
  color: white;
  font-size: 14px;
}

.footer-logo {
  width: 50px; 
  height: auto;
  margin-top: 10px;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d3d3d3; 
}
