h2 {
    font-size: 24px;
    margin: 50px 0 0 51px;
}

hr {
    opacity: 30%;
    margin: 20px 0 30px 51px;
    width: 90vw;
}

.catalogue {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

.catalogue td {
    width: 32vw;
    height: 32vh;
}

.catalogue td:hover {
    background-color: rgb(231, 231, 231);
}

.materiel {
    display: flex;
    padding: 20px;
    gap: 15px;
}

.materiel img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.infos {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titre {
    font-weight: bold;
    max-height: 38px;
}

.descriptif {
    font-style: italic;
    font-size: 13px;
    max-height: 48px;
}